#map {
    height: 400px;
    width: 100%;
}

input {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    transition: 0.5s;
    outline: none;
}

input:focus{
    border: 3px solid #555;
}

button {
    background-color: grey;
    border: none;
    color: white;
    padding: 13.5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: black;
}